{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "@standardnotes/eslint-config-extensions"
  ],
  "parserOptions": {
    "ecmaVersion": 11
  },
  "globals": {
    "ActiveXObject": true,
    "CDATASection": true
  }
}
