{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": [
    "@standardnotes/eslint-config-extensions"
  ],
  "parserOptions": {
    "ecmaVersion": 11
  },
  "globals": {
    "ActiveXObject": true,
    "CDATASection": true,
    "SNTools": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }]
  }
}
